<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="Richard Bishop">
  <meta name="description" content="Technical blog about Ruby on Rails, Agile, Test-Driven Development, Concurrency and Software Design">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.3.0/pure-min.css">
  <link rel="stylesheet" href="/css/FontAwesome/font-awesome.min.css">
  <link rel="stylesheet" href="/css/syntax.css">
  <link rel="stylesheet" href="/css/blog.css">
</head>
  <body>
    <div class="pure-g-r" id="layout">
      <div class="sidebar pure-u">
        <header class="header">
          <hgroup>
            <h1 class="brand-title">{{ site.name }}</h1>
            <h2 class="brand-tagline">{{ site.description }}</h2>
          </hgroup>

          <nav class="nav">
            <ul class="nav-list">
              <li class="nav-item">
                <a class="fa fa-envelope fa-3x" href="mailto:richard@rubiquity.com"></a>
              </li>
              <li class="nav-item">
                <a class="fa fa-rss-square fa-3x" href="/feed.xml"></a>
              </li>
              <li class="nav-item">
                <a class="fa fa-github fa-3x" href="https://github.com/rbishop"></a>
              </li>
              <li class="nav-item">
                <a class="fa fa-twitter fa-3x"  href="https://twitter.com/rbondev"></a>
              </li>
              <li class="nav-item">
                <a class="fa fa-linkedin fa-3x" href="http://www.linkedin.com/in/rbishop87"></a>
              </li>
            </ul>
          </nav>
        </header>
      </div>

      <div class="pure-u-1">
        <div class="content">
          <div class="posts">
            {{ content }}
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      var links = document.getElementsByTagName('a');
      for (var i = 0, len = links.length; i < len; i++) {
        var link = links[i];
        if (link.hostname !== window.location.hostname) {
          link.target = "_blank";
        }
      }
    </script>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-39934812-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </body>
</html>
